<h1>Sign In</h1>

<%= form_for :session, url: login_path do |form| %>
    <div class="field-wrap">
        <%= form.label :email do %>Name:<span class="req">*</span><% end %>
        <%= form.email_field :email %>
    </div>

    <div class="field-wrap">
        <%= form.label :password do %>Password:<span class="req">*</span><% end %>
        <%= form.password_field :password %>
    </div>

    <%= form.submit "Log in", class: "btn btn-primary" %>
<% end %>

<span>Don't have an account yet?</span>
<%= link_to t(".sign_up"), sign_up_path %>