<% provide(:title, 'Sign up') %>
<h1>Sign Up</h1>


<%= form_for @user do |form| %>

    <%= render 'shared/error_messages' %>
    <!-- Name -->
    <div class="field-wrap">
        <%= form.label :name do %>Name:<span class="req">*</span><% end %>
        <%= form.text_field :name, type: 'text', placeholder: 'Your name...', required: 'required', autocomplete: 'off' %>
    </div>
    
    <!-- Email -->
    <div class="field-wrap">
        <%= form.label :email do %>Email:<span class="req">*</span><% end %>
        <%= form.text_field :email, type: 'email', placeholder: 'Email address...', required: 'required' %>
    </div>

   <!-- Password -->
    <div class="field-wrap">
        <%= form.label :password do %>Password:<span class="req">*</span><% end %>
        <%= form.password_field :password, placeholder: 'Minimum length of 6 characters' %>
    </div>

    <!-- Password -->
    <div class="field-wrap">
        <%= form.label :password_confirmation do %>Confirm Password:<span class="req">*</span><% end %>
        <%= form.password_field :password_confirmation, placeholder: 'Repeat password' %>
    </div>

    <!-- Submit Button -->
    <div class="btn-wrap">
        <%= form.submit class: "button" %>
    </div>
<% end %>

<span>Already a member?</span>
<%= link_to t(".login"), login_path %>